    <footer>
        <p class="<%= mainColor %>">&copy; Copyright HAIDER2023</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>